:root {
    --color-background: #e6fff2;    
    --color-game-info: #020202;
    --color-chat-header: #020202;
    --color-chat-panel: #282828;
    --color-chat-bubble1: #141414;
    --color-chat-bubble2: #0d4928;
    --color-chat-bubble3: #e45b1c;
    --color-choice: #e4971c;
    --color-font-white: #f4f4f4;
    --color-font-smokewhite: #d4d4d4;
    --color-font-black: #1e1e1e;
    --color-red: #df3e16;
    --color-green: #00ff44;

    --font-size2: 2.8vw;
    --font-size3: 3vw;
    --font-size4: 3.2vw;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, Verdana, sans-serif;
}

html {
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+ */
    user-select: none;          /* Standar */
    overscroll-behavior-y: none;
    width: 100%;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    /* overflow: scroll; */
    background-color: var(--color-background);
    color: #000000;
}

#game-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: calc(env(safe-area-inset-top) + 2vw);
    padding: 2vw 5vw;
    background-color: var(--color-game-info);
    color: var(--color-font-white);
    font-size: var(--font-size4);
    line-height: 1.2;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#game-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vw;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    font-size: var(--font-size2);
    font-weight: bold;
    color: var(--color-font-white);
    background-color: var(--color-red);
}

#game-info button.left {
    margin-left: auto;
}

#curtain {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    z-index: 20;
}

.game-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 4vw;
}

.game-panel .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-font-black);
    font-size: var(--font-size3);
    line-height: 1.2;
}

.chat-panel {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 4vw;
    border-radius: 3vw;
    padding-bottom: 2vw;
    background-color: var(--color-chat-panel);
}

.chat-panel .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 2vw;
    border-radius: 3vw 3vw 0 0;
    padding: 1.5vw 2vw;
    column-gap: 3vw;
    background-color: var(--color-chat-header);
    font-size: var(--font-size3);
    font-weight: bold;
    color: var(--color-font-white);
}

.chat-panel .header img {
    width: 7vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-chat-header);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-panel .text {
    width: fit-content;
    max-width: 85%;
    margin: 2vw 3vw;
    margin-top: 0;
    padding: 2vw 3vw;
    border-radius: 3vw;
    border-bottom-left-radius: 0;
    background-color: var(--color-chat-bubble1);
    text-align: left;
    line-height: 1.2;
    font-size: var(--font-size2);
    color: var(--color-font-smokewhite);
}

.chat-panel .text.me {
    align-self: flex-end;
    text-align: right;
    border-radius: 3vw;
    border-bottom-right-radius: 0;
    background-color: var(--color-chat-bubble2);
}

.chat-panel .text.choice {
    align-self: flex-end;
    text-align: right;
    border-radius: 3vw;
    border-bottom-right-radius: 0;
    background-color: var(--color-chat-bubble3);
}

.quest-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 3vw;
    width: 100%;
    padding: 5vw 5vw;
    margin-top: 4vw;
    margin-bottom: 20vw;
    border-radius: 3vw;
    background-color: var(--color-chat-panel);
}

.quest-panel .question {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 3vw;
    width: 100%;
}

.quest-panel .question .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size3);
    color: var(--color-font-smokewhite);
}

.quest-panel .question label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 1px solid var(--color-font-smokewhite);
    border-radius: 2vw;
    padding: 2vw 3vw;
    font-size: var(--font-size3);
    color: var(--color-font-smokewhite);
}

.quest-panel .question input {
    display: none;
}

.quest-panel .question input:checked + label{
    background-color: var(--color-choice);
    border-color: var(--color-choice);
    color: var(--color-font-black);
}

.quest-panel .explanation {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.quest-panel .explanation .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size3);
    color: var(--color-font-smokewhite);
}

.quest-panel .explanation .btnOk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    border: 1px solid var(--color-font-smokewhite);
    border-radius: 2vw;
    padding: 2vw 3vw;
    font-size: var(--font-size2);
    background-color: var(--color-choice);
    border-color: var(--color-choice);
    color: var(--color-font-black);
    font-weight: bold;
}

.quest-panel .explanation .btnOk.green {
    background-color: var(--color-green);
    border-color: var(--color-green);
}