:root {
    /* --color-background: #E4EAFF;
    --color-header: #4e88fe;
    --color-footer: #838383;
    --color-btnBlue: #4e88fe;

    --color-font-white: #f4f4f4;
    --color-font-black: #3a4b6c;

    --font-size1: 3vw;
    --font-size2: 3.8vw;
    --font-size3: 4vw;
    --font-size4: 4.3vw;
    --font-size5: 4.6vw;

    --color-blue: #4e88fe;

    --color-chat-header: #4e88fe;
    --color-chat-panel: #ffffff;
    --color-quest-panel-blue: #4e88fe;
    --color-quest-panel-red: #FE5151;
    --color-quest-panel-green: #19A867;
    --color-chat-bubble1: #dde6fd;
    --color-chat-bubble2: #4e88fe;
    --color-chat-bubble3: #e43a1c;
    --color-choice: #dde6fd;
    --color-font-smokewhite: #d4d4d4;
    --color-red: #FE5151;
    --color-green: #4DE74D; */

    --color-blue: #4482fe;
    --color-red: #fe5151;
    --color-green: #19a867;
    --color-grey: #d6d6d6;

    --color-toast: #000000e2;
    --color-background: #edf2ff;
    --color-accent1: #4482fe;
    --color-accent2: #dde6fd;
    --color-accent3: #ffffff;
    --color-accent4: #e13434;
    --color-accent5: #19a867;
    --color-accent6: #838383;

    --color-font-light: #f4f4f4;
    --color-font-dark: #171d28;
    --color-font-blue: #2658bc;

    --font-size1: 3.4vw;
    --font-size2: 4vw;
    --font-size3: 4.3vw;
    --font-size4: 4.5vw;
    --font-size5: 4.7vw;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, Verdana, sans-serif;
}

html {
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+ */
    user-select: none;          /* Standar */
    overscroll-behavior-y: none;
    width: 100%;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    margin: auto;
    /* overflow: scroll; */
    background-color: var(--color-background);
    color: #000000;
}

#curtain {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 10vw;
    padding-top: 20vw;
    font-weight: 500;
    text-align: center;
    font-size: var(--font-size4);
    color: var(--color-font-dark);
    background-color: var(--color-background);
    z-index: 20;
}

#curtain input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2vw;
    padding: 2vw 2vw;
    border: 0.4vw solid var(--color-accent1);
    border-radius: 2vw;
    font-size: var(--font-size2);
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-font-dark);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#curtain button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    border: none;
    border-radius: 3vw;
    padding: 4vw 6vw;
    font-size: var(--font-size2);
    background-color: var(--color-green);
    color: var(--color-font-light);
    font-weight: bold;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#curtain button:disabled {
    opacity: 0.3;
}



#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: calc(env(safe-area-inset-top) + 2vw);
    padding: 5vw 5vw;
    background-color: var(--color-accent1);
    color: var(--color-font-light);
    font-size: var(--font-size5);
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7vw;
    flex: 1;
    width: 100%;
    padding: 2vw 5vw;
    color: var(--color-font-dark);
    font-size: var(--font-size4);
}

#menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent1);
    border: none;
    border-radius: 3vw;
    padding: 3vw 5vw;
    font-size: var(--font-size3);
    text-align: center;
    color: var(--color-font-light);
    font-weight: 500;
}

#menu button:disabled {
    opacity: 0.3;
}

#menu #btnReset {
    margin-top: 20vw;
    background-color: var(--color-red);
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4vw 6vw;
    background-color: var(--color-accent6);
    color: var(--color-font-light);
    font-size: var(--font-size1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}